# sql queries
*.sql
# ignorando files
*.csv
*.dat
*.png
*.fits
*.out

# ignorando test.ipynb
**/test.ipynb
tests.ipynb

# ignorando cats
**/cats/

# ignorando checkpoints
**/.ipynb_checkpoints/
**/__pycache__/

# ignorando resultados
**/profiles/

# ignorando plotting
**/plotting.py
